.venv/
__pycache__/
*.py[cod]

db.sqlite3

.env
.env.*

.vscode/
.idea/

.pytest_cache/
.coverage
htmlcov/

staticfiles/
media/

Thumbs.db
.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
